// Modeled after CSS Friends Reset
html,
body,
header,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
}
