@import 'reset';
@import 'define';

circle {
  fill: $circle-color--default;
  r: 5px;
  transition: r .5s linear, fill .5s linear;

  &:hover {
    fill: $circle-color--hover;
    r: 10;
  }
  &:active {
    fill: $circle-color--active;
  }
}

#container {
  margin-bottom: 50px;
  overflow: visible;
}

body {
  margin: 20px 40px;
}

table,
th,
td {
  border: 1px solid $table-border-color;
}

th,
td {
  padding: 10px;
  text-align: center;
}
