@import 'reset';
@import 'define';

circle {
  r: 5px;
  transition: r .1s linear, fill .1s linear;

  &:hover {
    r: 10;
  }

  &:active {
    r: 10;
  }
}

.line {
    stroke: #E4002B;
    fill: none;
    stroke-width: 3;
}

.container {
  margin-bottom: 50px;
  margin-top: 20px;
  overflow: visible;
}

.x-axis {
  & line {
    stroke: $axes-color;
  }

  & path {
    stroke: $axes-color;
  }

  & text {
    fill: $axes-color;
  }
}

.y-axis {
  & line {
    stroke: $axes-color;
  }

  & path {
    stroke: $axes-color;
  }

  & text {
    fill: $axes-color;
  }
}

body {
  margin: 20px 40px;
}

line {
  stroke: $line-color;
  stroke-width: 1px;
}


.page-title {
  color: $title-color;
  display: block;
  font-family: source-sans-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: .67em;
}

.description {
  font-size: 17px;
  margin-top: 5px;
}

.x-axis-label,
.y-axis-label {
  fill: $axis-label-color;
}

div.tooltip {	
  background: $tooltip-color;
  border: 0;
  border-radius: 8px;
  font: 12px sans-serif;
  height: 32px;
  padding: 2px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 60px;
}

